@media all and (max-width: 1024px){
   
    .table{
        height: 500px;
    }

    .mapImg{
        height: 350px;
        width: 350px;
    }
.heroVariedades{
    height: 150vh;
}

.hero{
    height: 140vh;
}

.heroNosotros{
    height: 100vh;
}
.heroContactos{
    height: 100vh;
}
}


@media all and (max-width: 769px){
    /* PAGINA INICIO */

.table{
    margin-left: 10px;
    margin-top: 50px;
    grid-column: 2/10;
    grid-row: 6  / 8;
    color: white;
}

.table tr{
    width: 40px;

}

.hero .info-content {
    grid-column: 2 / 10;
    grid-row: 2/3;
    margin-top: 50px;
    text-align: center;
}

.info-content p{
    font-size: 25px;
}

.hero{
    height: 200vh;
}

.menu{
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
}

.nav-list{
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
}
.nav-list .list-item{
    display: block;
    padding: 10px;
    border-top: 1px solid white;
}

 /* PAGINA NOSOTROS */

.hero .info-nosotros {
    grid-row: 2/4;
    grid-column: 2/10;
    text-align: center;

}
.carousel {
    grid-row: 5/6;
    grid-column: 5/8;
}
.wrapper {
    grid-column: 2/ 10;
    grid-row: 1 / 6;
}
.map {
    grid-column: 4 / 8;
    grid-row: 6 / 10;  }

.titulo-mapa{
    text-align: center;
}
.comentario-contacto p{
    text-align: center;
}

.heroVariedades{
    height: 200vh;
}

.active{
    display: block;
}

.heroNosotros{
    height: 150vh;
}
.heroContactos{
    height: 160vh;
}

}

@media all and (max-width: 426px){

 .table{
     grid-column: 2 / 10;
     grid-row: 5 / 8;
     margin-top: 130px;
     margin-left: 0px;
 }

 .table td{
     font-size: 15px;
     

 }

 .hero .info-content{
     grid-column: 2 / 10;
     grid-row: 1 / 5;
     text-align: center;
 }

 .info-content h3{
     font-size: 15px;
 }

 .info-content h2{
     font-size: 40px;

 }

 .info-content p{
     font-size: 20px;
 }
 .menu{
     display: block;
     position: absolute;
     right: 15px;
     top: 15px;
 }

 .nav-list{
     list-style-type: none;
     width: 100%;
     text-align: center;
     padding-top: 10px;
     display: none;
 }
 .nav-list .list-item{
     display: block;
     padding: 10px;
     border-top: 1px solid white;
 }
 .primary-icon{
     margin-left: 10px;
     margin-top: 10px;
 }

 .active{
     display: block;
 }
 
 h1{
     display: block;
     text-align: center;
     align-items: center;
 }

 /* PAGINA TIENDA */

 .hero2{
     height: 300vh;
     flex-direction: column;
 }

 /* PAGINA NOSOTROS */

 .info-nosotros h2{
     font-size: 40px;
 }
 .info-nosotros p{
     font-size: 20px;
 }

 .map{
     display: none;
 }
 .heroVariedades{
    height: 270vh;
}

.heroContactos{
    height: 100vh;
}

}

@media all and (max-width: 376px){

 .hero{
     height: 280vh;
 }

 .hero2{
     height: 350vh;
 }
 .info-nosotros p {
    font-size: 20px;
}
.heroVariedades{
    height: 350vh;
}

.heroContactos{
    height: 100vh;
}

.heroNosotros{
    height: 170vh;
}
}

@media all and (max-width: 321px){



 .hero{
     height: 220vh;
 }

 .heroContactos{
    height: 100vh;
}

 .hero2{
     height: 300vh;
 }

 .table td{
    font-size: 12px;
}

.info-content h3{
    font-size: 10px;
}

.info-content h2{
    font-size: 40px;

}

.info-content p{
    font-size: 18px;
}


.info-content{
    height: 400px;
}

.table{
    grid-row: 7 / 8;
    height: 400px;
}

.heroVariedades{
    height: 400vh;
}

.heroNosotros{
    height: 160vh;
}

.carousel {
    grid-row: 6 / 7;
    grid-column: 5/8;
}
 }