@media all and (max-width: 480px) {
    /*  PAGINA INICIO */
    .navbar{
        flex-direction: column;
        position: relative;

    }
   

    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .nav-list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .nav-list .list-item{
        display: block;
        padding: 10px;
        border-top: 1px solid white;
    }

    .primary-icon{
        margin-left: 10px;
        margin-top: 10px;
    }

    .active{
        display: block;
    }
    
    h1{
        display: block;
        text-align: center;
        align-items: center;
    }

    .hero{
        height: 165vh;
    }

    .hero .info-content{
        grid-column: 2 / 4;
        grid-row: 2 / 8

    }

    .hero .info-content {
        grid-column: 2 / 3;
        grid-row: 1 / 5;
        font-size: 15px;
        text-align: center;
        padding: 40px;
        

    }

    .boton{
        display: none;
    }
    
    .table td{
        font-size: 15px;
    }

    .table{
        grid-column: 2 / 4;
        grid-row: 6 / 8;
    }
    /* PAGINA CONTACTO */
    

    .hero .wrapper{
        grid-column: 2 / 10;
        grid-row: 1 /5 ;
        
    }

    .wrapper{
        margin-top: 20px;
    }


    .comentario-contacto p{
        margin-top: 20px;

    }

    .map{
        grid-row: 6 / 8;
        grid-column: 2 / 4;
        margin-top: 20px;
    }

    .mapImg{
        width: 250px;
        height: 250px;
        
    }

   /* PAGINA NOSOTROS */

.hero .info-nosotros{
    grid-column: 2 / 10 ;
    grid-row: 1 / 4  ;
    font-size: 5px;
    margin-top: 20px;
} 
.hero .info-nosotros h3{
    font-size: 15px;
}
.hero .info-nosotros p{
    font-size: 15px;

}

.hero .container-slider{
    align-items: center;

}
.container-slider{ 
    margin: auto;
    background:rgba(0, 0, 0, 0.562);
    width: 150px;
    padding: 15px;
    border-radius: 20px;
    
}

.contenedor-main{
    grid-column: 2 / 4;

}

.carousel{
    grid-row: 5 / 8;
    grid-column: 4 / 8;
}

.hero .info-nosotros{
    font-size: 15px;
    text-align: center;
}

  /*  PAGINA TIENDA */

.hero2{
    height: 300vh;
}

.hero2 .tituloSecundario{
    font-size: 50px;
}
}










