@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,500&family=Roboto:wght@100;300;500;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
/* SECTION HEADER */

.escribiendo{
    display: inline-block;
}

h1{
    display: inline-block; 
    border-right: 2px solid white;
    animation: cursor .5s infinite,
    escribiendo 3.5s steps(6,end);
    white-space: nowrap;
    overflow: hidden;
    padding-left: 50px;
    margin-top: 20px;
    font-size: 30px;
}

@keyframes cursor {
    0% { border-color: transparent;}
    50% {border-color: white;}

}

@keyframes escribiendo{
    from{ width: 0;}
    to{width: 100%;}  
}

.primary-icon{
    height: 40px;
    position: absolute;
    margin-top: 15px;
}

.menu{
    display: none;
    cursor: pointer;
}

.menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
    border-radius: 2px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

h3{
    font-size: 20px;
}
  
.boton.cinco:hover{
    background: rgb(211, 132, 62);
}
    
.boton.cinco:hover span{
    left: 20px;
}
    
.boton.cinco:hover .icono{
    left: calc(100% - 50px);
    opacity: 1;
}
    
.table{
    grid-column: 7 / 10;
    grid-row: 3 / 5;
    color: white;
}

  /* -----------------------PAGINA TIENDA----------------- */
.hero2{
    display: flex;
    justify-content:space-around ;
    flex-wrap: wrap;
    align-items: center;
}

/* PAGINA VARIEDADES */
.heroVariedades{
    display: flex;
}
.infoVar h3{
    color:rgb(211, 132, 62) ;
    font-weight: 700;  
}

.infoVar{
    padding: 50px;
    width: 500px;
    text-align: center;
}